/* ----------------------Index.Html CSS----------------------- */
/* Navigation Bar */
/* Please specify your page with the ID if you have specific formatting */

#logo {
  margin-right: 0.5em;
}

#index-navbar-title {
    color: red;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}


 #index-filter-button {
    height: 38.1px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #index-search-button{
    height: 38.1px;
  }

#nav-create-button{
  width: 150px ;
  background-color: #5d9fc5;
  color: white;
  border:none;
  border-radius: 30px;
  
}

#nav-create-button:hover{
  background-color: #5579C6;
  color: white;
}

#animal_ui_animals{
  background-color: #5d9fc5;
  color: white;
  border:none;
}

#animal_ui_invoices{
  background-color: white;
  color:#5d9fc5;
  border:1px solid #5d9fc5;
}

#invoice_ui_animals{
  background-color: white;
  color:#5d9fc5;
  border:1px solid #5d9fc5;
}

#invoice_ui_animals:hover{
  background-color: #5579C6;
  color: white;
}

#animal_ui_invoices:hover{
  background-color: #5579C6;
  color: white;
}

#invoice_ui_invoices{
  background-color: #5d9fc5;
  color: white;
  border:none;
}
  
/* Table CSS */

  #index-action-button{
    padding:0px;
    height: 28px;
    width: 28px;
  }


  /* Modal CSS */

  #modal-form {
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
}
  
label {
    display: block;
    margin-bottom: 10px;
}
  
input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
  
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


  /* --------------------------------------------------------------------------------------------------- */



  /* --------------------------------------------------------------------------------------------------- */
  /* Animal page start */

  #animal_page_edit{
    margin-left: 50px;

  }
  
#animal-text-box{
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

/* List Container */
#animal-detail{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

#ul_animal_page{
  list-style-type: none;
}
  /* Animal page end */


  /* Delete Button Modal */
  .modal-confirm{
    color: #636363;
    width: 400px
  }

  .modal-confirm .modal-content{
    padding: 20px;
    border-radius: 5px;
    border:none;
    text-align: center;
    font-size: 14px
  }

  .modal-confirm .modal-header{
    border-bottom: none;
    position: relative;
  }

  .modal-confirm h4 {
    text-align: center;
    font-size:26px;
    margin: 30px 0 -10px;
  }
  .modal-confirm .close{
    position: absolute;
    top: -5px;
    right: -2px;
  }

  .modal-confirm .modal_body{
    color: #999;
  }

  .modal-confirm modal.footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    padding: 10px 15px 25px;

  }

  .modal-confirm .modal-foot a{
    color:#999;

  }

  .modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
  }
  .modal-confirm .icon-box i{
    color: #f15e5e;
    font-size:46px;
    display: inline-block;
    margin-top: 13px;
  
  }
  .modal-confirm .btn .modal-confirm .btn:active{
    color:#fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
  }

  .modal-confirm .btn-secondary{
    background: #c1c1c1;
  }
  .modal-confirm .btn-seondary:hover, .modal-confirm .btn-secondary:focus{
    background: #a8a8a8
  }

  .modal-confirm .btn-danger{
    background: #f15e5e
  }

  .modal-confirm .btn-danger:hover .modal-confirm .btn-danger:focus{
    display: inline-block;
    margin: 100px auto;
  }


  /* Invoice Modal */

  #invoice_number{
  color: #7e8d9f;
  font-size: 20px;
  }
#invoice_icon{
  color:#5d9fc5;
}
 
#invoice_customer{
  color:#5d9fc5;
}

.invoice_list{
  color: #84B0CA;
}

#invoice_table{
  background-color:#84B0CA;
}



  /* Invoice Status Color Change */

  .red-text{
    background-color:red;
    color:white;
  }
  
  .green-text{
    background-color:green;
    color: white;

  }

  .yellow-text{
    background-color:yellow;
    color: black;

  }

  /* Hide stuff */

  .hidden {
    display: none;
  }




/* sum style */
.invoice_page_body{
  position: relative;
}
#create-summary-button{
  background-color: #5d9fc5;
  border: none;
  margin-right: 11px;
  color: white;
  border:none;
  border-radius: 30px;
  float: right;
  position: sticky;
  bottom: 6vh;
  z-index: 2;
}

#create-summary-button:hover{
  background-color: #5579C6;
  border: none;
  color: white;
}

  .hidden2 {
    display: none;
  }

#clear-form{
  width: 100px;
  float: right;
  
}