/* ----------------------Index.Html CSS----------------------- */
/* Navigation Bar */

#index-navbar-title {
    color: red;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}


 #index-filter-button {
    height: 38.1px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #index-search-button{
    height: 38.1px;
  }
  
/* Table CSS */

  #index-action-button{
    padding:0px;
    height: 28px;
    width: 28px;
  }

  /* --------------------------------------------------------------------------------------------------- */
  /* Animal page start */
  header{
    background-color:lightblue;
    font-family: Arial, Helvetica, sans-serif;
  }
  ul{
    list-style-type: none;
    padding-inline-start: 0px;
  }
  p{
    border: 2px solid gray;
    border-radius: 8px;
    min-height: 180px;
    padding: 10px;
  }
  footer{
    padding: 10px;
    font-size: 3px;
  }
  @media screen and (Min-width:400px){
    header h1, h2{
      padding: 10px 0px 10px 16px;
    }
    main{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows:  1fr 1fr;
    }
    article{
      grid-column: 1/3;
    }
  }
  

  /* Animal page end */