<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
    <title>{{ animal.id }} | {{ animal.name }} | {{ animal.species }}</title>
  </head>
  <body>
    <header class="header_animal_page">
      <h1>{{ animal.name }}</h1>
      <h2>{{ animal.species }}</h2>
    </header>
    <main class="main_animal_page">
      <aside>
        <img class="img_animal_page" src="images/Timothy.png" alt="" />
      </aside>

      <ul class="ul_animal_page">
        <li>ID: {{ animal.id }}</li>
        <li>Age: {{ animal.age }}</li>
        <li>Gender: {{ animal.gender }}</li>
        <li>Price($): {{ animal.price }}</li>
        <li>Weight(G): {{ animal.weight }}</li>
        <li>Height(CM): {{ animal.height }}</li>
        <li>Health: {{ animal.health }}</li>
        <li>Color: {{ animal.color }}</li>
        <li>Diet: {{ animal.diet }}</li>
        <li>Purchase Date: {{ animal.purchase_date }}</li>
        <li>Purchase Price($): {{ animal.purchase_price }}</li>
        <li>Sold Date(YYYY-MM-DD): {{ animal.sold_date }}</li>
        <li>Supplier: {{ animal.supplier }}</li>
      </ul>
      <article class="article_animal_page">
        <h4>Note:</h4>
        <p class="p_animal_page">
          {{ animal.notes }}
        </p>
        <button>Edit</button>
        <button>Delete</button>
      </article>
    </main>
    <footer>
      Copyright&copy; 2023, Fantastic Animals and We Can Find Them. All Rights
      Reserved
    </footer>
  </body>
</html>
