<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/stylesheet.css">
    <title>Animal page</title>
</head>
<body>
    <header>
        <h1>Timothy</h1>
        <h1>Goat</h1>
    </header>
    <main>
        <section class="left">
            <aside><img src="./pics/Timothy.png" alt=""></aside>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </section>
        <section class="right">
            <ul>
                <li>ID:</li>
                <li>Age:</li>
                <li>Gender:</li>
                <li>Price($)</li>
                <li>Weight(G):</li>
                <li>Height(CM):</li>
                <li>Health:</li>
                <li>Color:</li>
                <li>Diet:</li>
                <li>Purchase Date:</li>
                <li>Purchase Price($):</li>
                <li>Sold Date(YYYY-MM-DD):</li>
                <li>Supplier:</li>
            </ul>
            <button>Edit</button>
            <button>Delete</button>
        </section>
    </main>
    <footer>
        Copyright&copy; 2023, Fantastic Animals and We Can Find Them. All Rights Reserved
    </footer>
</body>
</html>