<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script defer src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <title>Index</title>
</head>
<body>
    <!-- Brand Name -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div>
      <img id="logo" src="{{ url_for('static', filename='favicon.ico') }}">
      <div class="btn-group btn-group-lg" role="group" aria-label="UI Title Buttons">
        <a href="http://127.0.0.1:5000/" class="btn btn-dark" id="animal_ui_animals">Animals</a>
        <a href="http://127.0.0.1:5000/invoice" class="btn btn-outline-dark" id="animal_ui_invoices">Invoices</a>
    </div>
  </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <!-- BUTTONS IN NAV BAR -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search by Name or ID" id="animalNameSearch">
            <button type="button" class="btn btn-outline-primary" id="index-filter-button" data-toggle="modal" data-target="#filter-modal">
                <i class="fas fa-filter"></i>
            </button>
            <button type="button" data-toggle="modal" data-target="#add-animal-modal" id="nav-create-button">
                <i class="fas fa-paw"></i>
                Add Animal
              </button>
          </form>
        </div>
      </nav>
      
      <!-- DATA TABLE  -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Species</th>
            <th scope="col">Price($)</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for animal in animals %}
          <tr in_invoice="{{ animal.is_in_invoice }}">

              <th class="animalID" scope="row">{{ animal.id }}</th>
              <td class="animalName">{{ animal.name }}</td>
              <td>{{ animal.age }}</td>
              <td class="animalGender">{{ animal.gender }}</td>
              <td>{{ animal.species }}</td>
              <td>{{ animal.price }}</td>
              <td>
                <button onclick="renderModal(this)" type="button" class="btn btn-primary" id="index-action-button" data-toggle="modal" data-target="#view-animal-modal"><i class="far fa-eye"></i></button>
                <button onclick="renderModal(this)" type="button" class="btn btn-success btn-edit" id="index-action-button" data-toggle="modal" data-target="#edit-animal-modal"><i class="fas fa-edit"></i></button>
                <button onclick="renderModal(this)" type="button" class="btn btn-danger" id="index-action-button" data-toggle="modal" data-target="#delete_modal"><i class="far fa-trash-alt"></i></button>
              </td>
          </tr>
          {% endfor %}
   
        </tbody>
      </table>


      <!--  Filter MODAL -->

      <div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="filter-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="filter-modal">Filter</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <body>
                <form id="filterForm" onsubmit="filterForm()" method="dialog">
            
                    <label for="age"><b>Age:</b></label>
                    <input type="text" id="age" name="age"><br>
                
                    <label for="gender"><b>Gender:</b></label>
                    <select id="gender" name="gender">
                      <option value="">--Select--</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="hermaphrodite">Hermaphrodite</option>
                      <option value="other">Other</option>
                    </select><br>
                
                    <label for="species"><b>Species:</b>></label>
                    <input type="text" id="species" name="species"><br>
            
                    <label for="price"><b>Price($):</b>></label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Min"/>
                      <input type="text" class="form-control" placeholder="Max"/>
                  </div>
      
                    <label for="status"><b>Health:</b>></label>
                    <select id="status" name="status">
                      <option value="">--Select--</option>
                      <option value="">excellent</option>
                      <option value="sold">good</option>
                      <option value="sold">fair</option>
                      <option value="sold">poor</option>
                      <option value="sold">critical</option>
                    </select><br>
                
                    <label for="colour"><b>Colour:</b>></label>
                    <input type="text" id="colour" name="colour"><br>
                
                    <label for="supplier"><b>Supplier:</b>></label>
                    <input type="email" id="email" name="email"><br>
                
                    <br>
      
                    <button type type="submit" class="btn btn-success">Submit</button>

                  </form>
            </div>
          </div>
        </div>
      </div>


           <!--  Add Animal MODAL -->

           <div class="modal fade" id="add-animal-modal" tabindex="-1" role="dialog" aria-labelledby="add-animal-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="animal-modal"><i class="fas fa-paw"></i> Add Animal</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <body>
                    <form id="modal-form" method="post" onsubmit="addAnimal()">
                      <label for="name">Name:</label>
                      <input type="text" id="name" name="name" required><br>
                  
                      <label for="age">Age:</label>
                      <input type="text" id="age" name="age" required><br>
                  
                      <label for="gender">Gender:</label>
                      <select id="gender" name="gender" required>
                        <option value="">--Select--</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="hermaphrodite">Hermaphrodite</option>
                        <option value="other">Other</option>
                      </select><br>
                  
                      <label for="species">Species:</label>
                      <input type="text" id="species" name="species" required><br>
              
                      <label for="price">Price:</label>
                      <input type="number" id="price" name="price" step="0.01" min="0">

                      <label for="purchase_price">Purchase Price:</label>
                      <input type="number" id="purchase_price" name="purchase_price" step="0.01" min="0">

                      <label for="purchase_date">Purchase Date:</label>
                      <input type="date" id="purchase_date" name="purchase_date">

                      <label for="sold_date">Sold Date:</label>
                      <input type="date" id="sold_date" name="sold_date">
                  
                      <label for="weight">Weight:</label>
                      <input type="number" id="weight" name="weight" step="0.01" min="0" required><br>
                  
                      <label for="height">Height:</label>
                      <input type="number" id="height" name="height" step="0.01" min="0" required><br>
                  
                      <label for="health">Health:</label>
                      <select id="health" name="health" required>
                        <option value="">--Select--</option>
                        <option value="healthy">excellent</option>
                        <option value="good">good</option>
                        <option value="fair">fair</option>
                        <option value="poor">poor</option>
                        <option value="critical">critical</option>
                      </select><br>
                  
                      <label for="color">Color:</label>
                      <input type="text" id="color" name="color" required><br>
                  
                      <label for="supplier">Supplier:</label>
                      <input type="email" id="supplier" name="supplier" required><br>
                  
                      <label for="diet">Diet:</label>
                      <input type="text" id="diet" name="diet" required><br>
                  
                      <label for="notes">Additional Notes:</label>
                      <textarea id="notes" name="notes"></textarea><br>
              
                      <label for="image_url">Image:</label>
                      <input type="url" id="image_url" name="image_url"><br>
                      <br>
                  
                      <button type type="submit" class="btn btn-success">Submit</button>
                    </form>

                </div>
              </div>
            </div>
          </div>
    


          <!-- View Animal Modal -->

          <div class="modal fade" id="view-animal-modal" tabindex="-1" role="dialog" aria-labelledby="view-animal-modal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="animal-modal"><i class="fas fa-paw"></i> [Animal Name] </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <body>
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-6">
                               <img src="../static/images/Timothy.png" alt="" width=100% id="animal-page-img">
                            </div>
                            <div class="col-sm-6" id="animal-detail"> 
                              <ul id="ul_animal_page">
                                <li id="ul_animal_page_id"><b>ID: </b>[data holder]</li>
                                <li id="ul_animal_page_species"><b>Species: </b>[data holder]</li>
                                <li id="ul_animal_page_age"><b>Age: </b>[data holder]</li>
                                <li id="ul_animal_page_gender"><b>Gender: </b>[data holder]</li>
                                <li id="ul_animal_page_price"><b>Price($): </b>[data holder]</li>
                                <li id="ul_animal_page_weight"><b>Weight(g): </b>[data holder]</li>
                                <li id="ul_animal_page_height"><b>Height(cm): </b>[data holder]</li>
                                <li id="ul_animal_page_health"><b>Health </b>[data holder]</li>
                                <li id="ul_animal_page_color"><b>Color: </b>[data holder]</li>
                                <li id="ul_animal_page_diet"><b>Diet: </b>[data holder]</li>
                                <li id="ul_animal_page_purchase_date"><b>Purchase Date: </b></li>
                                <li id="ul_animal_page_purchase_price"><b>Purchase Price($): </b>[data holder]</li>
                                <li id="ul_animal_page_sold_date"><b>Sold Date (YYYY-MM_DD): </b>[data holder]</li>
                                <li id="ul_animal_page_supplier"><b>Supplier: </b>[data holder]</li>
                              </ul>
                            </div> 
        
                          </div>  
                        </div>
                        <br>
                      <div class="form-group shadow-textarea">
                        <label for="Animal-Notes"><b>Notes:</b></label>
                        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="" readonly>[data holder]</textarea>
                      </div>
                      <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Edit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                      </div>    -->
                </div>
              </div>
            </div>
          </div>
      

          <!-- Edit Animal Page -->

          <div class="modal fade" id="edit-animal-modal" tabindex="-1" role="dialog" aria-labelledby="edit-animal-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="animal-modal"><i class="fas fa-paw"></i> Edit Animal</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <body>
                    <form id="modal-form" method="post" action="PATH TO ANIMAL">
                      <label for="name">Name:</label>
                      <input type="text" id="name" name="name" value = "ADD YOUR VARIABLE HERE" required><br>
                  
                      <label for="age">Age:</label>
                      <input type="text" id="age" name="age" value = "ADD YOUR VARIABLE HERE" required ><br>
                  
                      <label for="gender">Gender:</label>
                      <select id="gender" name="gender" required>
                        <option value="">--Select--</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="hermaphrodite">Hermaphrodite</option>
                        <option value="other">Other</option>
                      </select><br>
                  
                      <label for="species">Species:</label>
                      <input type="text" id="species" name="species" value = "ADD YOUR VARIABLE HERE" ><br>
              
                      <label for="price">Price:</label>
                      <input type="number" id="price" name="price" value = "ADD YOUR VARIABLE HERE" step="0.01" min="0">

                      <label for="purchase_price">Purchase Price:</label>
                      <input type="number" id="purchase_price" name="purchase_price" value = "ADD YOUR VARIABLE HERE" step="0.01" min="0">

                      <label for="purchase_date">Purchase Date:</label>
                      <input type="date" id="purchase_date" name="purchase_date" value = "ADD YOUR VARIABLE HERE">

                      <label for="sold_date">Sold Date:</label>
                      <input type="date" id="sold_date" name="sold_date" value = "ADD YOUR VARIABLE HERE">
                  
                      <label for="weight">Weight:</label>
                      <input type="number" id="weight" name="weight" value = "ADD YOUR VARIABLE HERE" step="0.01" min="0" required><br>
                  
                      <label for="height">Height:</label>
                      <input type="number" id="height" name="height" value = "ADD YOUR VARIABLE HERE" step="0.01" min="0" required><br>
                  
                      <label for="health">Health:</label>
                      <select id="health" name="health" required>
                        <option value="">--Select--</option>
                        <option value="healthy">excellent</option>
                        <option value="good">good</option>
                        <option value="fair">fair</option>
                        <option value="poor">poor</option>
                        <option value="critical">critical</option>
                      </select><br>
                  
                      <label for="color">Color:</label>
                      <input type="text" id="color" name="color" value = "ADD YOUR VARIABLE HERE" required><br>
                  
                      <label for="supplier">Supplier:</label>
                      <input type="email" id="supplier" name="supplier" value = "ADD YOUR VARIABLE HERE" required ><br>
                  
                      <label for="diet">Diet:</label>
                      <input type="text" id="diet" name="diet" value = "ADD YOUR VARIABLE HERE" required><br>
                  
                      <label for="notes">Additional Notes:</label>
                      <textarea id="notes" name="notes"></textarea><br>
              
                      <label for="image_url">Image:</label>
                      <input type="url" id="image_url" name="image_url"><br>
                      <br>
                  
                      <button type type="submit" class="btn btn-success">Submit</button>
                    </form>
        
                </div>
              </div>
            </div>
          </div>


           <!-- Delete Modal -->
           <div id="delete_modal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header flex-column">
                        <div class="icon-box">
                            <i class="fas fa-exclamation"></i>
                        </div>
                        <h4 class="modal-title w-100">Are you Sure?</h4>
                        <button type=""button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p id="del_modal_message">Do you really want to delete [Insert Animal ID]? This process cannot be undone</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="delete_button" type="button" class="btn btn-danger" onclick="deleteItem()">Delete</button>
                    </div>
                </div>
            </div>
          </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>