<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
  <link rel="stylesheet" href="../static/css/stylesheet.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- <script src="../static/scripts/script.js"></script> -->
  <script defer src="{{ url_for('static', filename='scripts/invoice_script.js') }}"></script>
  <title>Invoice</title>
</head>

<body class="invoice_page_body">
  <!-- Brand Name -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
    <img id="logo" src="{{ url_for('static', filename='favicon.ico') }}">
    <div class="btn-group btn-group-lg" role="group" aria-label="UI Title Buttons">
      <a href="http://127.0.0.1:5000/" class="btn btn-outline-dark" id="invoice_ui_animals">Animals</a>
      <a href="http://127.0.0.1:5000/invoice" class="btn btn-dark" id="invoice_ui_invoices">Invoices</a>
    </div>
  </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- BUTTONS IN NAV BAR -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search by ID or Customer" id="searchInv">
          <button type="button" class="btn btn-outline-primary" id="index-filter-button" data-toggle="modal"
            data-target="#filter-modal">
            <i class="fas fa-filter"></i>
          </button>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#create-invoice-modal"
            id="nav-create-button">
            <i class="fas fa-paw"></i>
            Create Invoice
          </button>
      </form>
    </div>
  </nav>

  <!-- DATA TABLE  -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Invoice No.</th>
        <th scope="col">Customer</th>
        <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">Province</th>
        <!-- <th scope="col">Postal Code</th> -->
        <!-- <th scope="col">Price($)</th> -->
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Sub Total ($):</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="invoiceList">
      {% for invoice in invoices %}
      <tr>

        <th class="invoiceID" scope="row">{{ invoice.id }}</th>
        <td class="invoiceName">{{ invoice.name }}</td>
        <td class="invoiceStreet">{{ invoice.street }}</td>
        <td class="invoiceCity">{{ invoice.city }}</td>
        <td class="invoiceProvince">{{ invoice.province }}</td>
        <td class="invoiceDate">{{ invoice.date }}</td>
        <td class="invoiceStatus">{{ invoice.status }}</td>
        <td class="invoicePrice">{{ invoice.price }}</td>
        <td>
          <button onclick="renderModal(this)" type="button" class="btn btn-primary" id="index-action-button"
            data-toggle="modal" data-target="#view-invoice-modal"><i class="far fa-eye"></i></button>
          <button onclick="renderModal(this)" type="button" class="btn btn-success btn-edit" id="index-action-button"
            data-toggle="modal" data-target="#edit-invoice-modal"><i class="fas fa-edit"></i></button>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

  <!--  Filter MODAL -->

  <div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="filter-modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filter-modal">Filter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <body>
            <form method="dialog" onsubmit="filterForm()" id="filterForm">

              <label for="invoice_province"><b>Province:</b></label>
              <select id="invoice_province" name="invoice_province">
                <option value="">--Select--</option>
                <option value="BC">British Columbia</option>
                <option value="AB">Alberta</option>
                <option value="SK">Saskatchewan</option>
                <option value="MB">Manitoba</option>
                <option value="ON">Ontario</option>
                <option value="QC">Quebec</option>
                <option value="NL">Newfoundland and Labrador</option>
                <option value="NB">New Brunswick</option>
                <option value="PE">Prince Edward Island</option>
                <option value="NS">Nova Scotia</option>
                <option value="YT">Yukon Territories</option>
                <option value="NT">Northwest Territories</option>
                <option value="NU">Nunavut</option>
              </select><br>

              <label for="invoice_city"><b>City:</b></label>
              <input type="text" id="invoice_city" name="invoice_city"><br>

              <label for="status"><b>Status: </b></label>
              <select id="status" name="status">
                <option value="">--Select--</option>
                <option value="Unpaid">Unpaid</option>
                <option value="Paid">Paid</option>
                <option value="Void">Void</option>
              </select><br>

              <br>

              <button type type="submit" class="btn btn-success">Submit</button>

            </form>
        </div>
      </div>
    </div>
  </div>


  <!--  Create Invoice MODAL -->

  <div class="modal fade" id="create-invoice-modal" tabindex="-1" role="dialog" aria-labelledby="create-invoice-modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="animal-modal"> Create Invoice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <body>
            <form id="modal-form" method="post" action="/invoice">

              <label for="status">Status:</label>
              <select name="status" id="status">
                <option value="Unpaid">Unpaid</option>
                <option value="Paid">Paid</option>
                <option value="Void">Void</option>
              </select>

              <label for="date">Date:</label>
              <input type="date" id="date" name="date">

              <label for="customer"><b>Customer Info:</b></label>
              <hr>
              <label for="name">Customer Name:</label>
              <input type="text" id="name" name="name" required><br>

              <label for="street">Street:</label>
              <input type="text" id="street" name="street"><br>

              <label for="city">City:</label>
              <input type="text" id="city" name="city"><br>

              <label for="province">Province</label>
              <select name="province" id="province" name="province">
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="MB">Manitoba</option>
                <option value="NB">New Brunswick</option>
                <option value="NL">Newfoundland and Labrador</option>
                <option value="NS">Nova Scotia</option>
                <option value="NT">Northwest Territories</option>
                <option value="NU">Nunavut</option>
                <option value="ON">Ontario</option>
                <option value="PE">Prince Edward Island</option>
                <option value="QC">Quebec</option>
                <option value="SK">Saskatchewan</option>
                <option value="YK">Yukon</option>
              </select>

              <label for="postal_code">Postal Code:</label>
              <input type="text" id="postal_code" name="postal_code">

              <label for="phone">Phone number:</label>
              <input type="tel" id="phone" name="phone" placeholder="604-123-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                required><br><br>
              <hr>

              <label for="animal-sold"><b>Animal:</b> </label>
              <hr>
              <div class>
                <div class="create_invoice_animal">
                  <label for="animals_id">List of Animal IDs (space separated):</label>
                  <input id="animals_id" name="animals_id" type="text">
                  <div class="alert alert-danger hidden" role="alert" id="animalIdError">
                    Warning: Animal ID list in invalid.
                  </div>
                </div>
              </div>
              <hr>


              <label for="notes">Additional Notes:</label>
              <textarea id="notes" name="notes"></textarea><br>

              <button type id="submitbutton" type="submit" class="btn btn-success">Submit</button>
            </form>

        </div>
      </div>
    </div>
  </div>

  <!--  Create Summary MODAL -->
  <div class="modal fade" id="create-summary-modal" tabindex="-1" role="dialog" aria-labelledby="create-summary-modal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="animal-modal"><img id="logo" src="{{ url_for('static', filename='money.ico') }}">Create Summary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <body>
          <form id="summaryForm" onsubmit="console.log(this)">

            <label><b>Select The Period</b></label>
            <br>
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date">
            <br>
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date">
            <br>
            <hr>
            <label><b>Monthly/Yearly Sales</b></label>
            <br>
            <select name="quick_select" id="quick_select" name="quick_select">
              <option value="">--Select--</option>
              <option value="year">Yearly</option>
              <option value="month">Monthly</option>
            </select>
            <hr>
            <br>
            <label><b>Select The Animal</b></label>
            <br>
            <label for="top_sale_animals">Top sale animals:</label>
            <input type="number" id="top_sale_animals" name="top_sale_animals" step="1" min="0">
            <br>
            <label for="most_profitable">Most profitable animals:</label>
            <input type="number" id="most_profitable" name="most_profitable" step="1" min="0">
            <br>

            <button type id="submitbutton" type="submit" class="btn btn-success">Submit</button>
          </form>
        </body>
      </div>
    </div>
  </div>
</div>




  <!-- Invoice Modal -->

  <div class="modal fade" id="view-invoice-modal" tabindex="-1" role="dialog" aria-labelledby="view-invoice-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">

          <body>

            <div class="card">
              <div class="card-body">
                <div class="container mb-5 mt-3">
                  <div class="row d-flex align-items-baseline">
                    <div class="col-xl-9">
                      <p id="invoice_number">Invoice >> <strong>[Invoice No. Holder]</strong></p>
                    </div>
                    <div class="col-xl-3 float-end">
                      <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i
                          class="fas fa-print text-primary"></i> Print</a>
                      <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark"><i
                          class="far fa-file-pdf text-danger"></i> Export</a>
                    </div>
                    <hr>
                  </div>

                  <div class="container">
                    <div class="col-md-12">
                      <div class="text-center">
                        <i class="fas fa-paw fa-4x ms-0" id="invoice_icon"></i>
                        <ul class="list-unstyled">
                          <li>Trap'd Animals</li>
                          <li>1234 Fake Street, Vancouver</li>
                          <li>British Columbia, Canada</li>
                          <li>V5E 1B5</li>
                          <li>604-111-2222</li>
                        </ul>
                      </div>

                    </div>


                    <div class="row">
                      <div class="col-xl-8">
                        <ul class="list-unstyled">
                          <li class="text-muted" id="invoice_name">To: <span id="invoice_customer">Tim</span></li>
                          <li class="text-muted" id="invoice_address">111 Hastings, Vancouver</li>
                          <li class="text-muted" id="invoice_location">Edmonton, Alberta</li>
                          <li class="text-muted" id="invoice_postal_code">V3G 1E9</li>
                          <li class="text-muted" id="invoice_phone"><i class="fas fa-phone"></i> 778 - 777 - 1128</li>
                        </ul>
                      </div>
                      <div class="col-xl-4">
                        <p class="text-muted">Invoice</p>
                        <ul class="list-unstyled">
                          <li class="text-muted" id="invoice_list_id"><i class="fas fa-circle invoice_list"></i> <span
                              class="fw-bold">ID:</span>#1-0001</li>
                          <li class="text-muted" id="invoice_list_date"><i class="fas fa-circle invoice_list"></i> <span
                              class="fw-bold">Date: </span>2022-06-10</li>
                          <li class="text-muted"><i class="fas fa-circle invoice_list"></i> <span
                              class="me-1 fw-bold" id="invoice-status">Status:</span>
                            <span class="badge text-black fw-bold" id="invoice_status">Void</span>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <table class="table table-striped table-borderless">
                        <thead id="invoice_table" class="text-white">
                          <tr>
                            <th scope="col">Animal ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Species</th>
                            <th scope="col">Price($)</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>

                      </table>
                    </div>
                    <div class="row">
                      <div class="col-xl-8">
                        <p class="ms-3">Add additional notes and payment information</p>

                      </div>
                      <div class="col-xl-3">
                        <ul class="list-unstyled">
                          <li class="text-muted ms-3" id="invoice_sub_total"><span class="text-black me-4">Sub
                              Total:</span> $1150.00</li>
                          <li class="text-muted ms-3 mt-2" id="invoice_tax"><span
                              class="text-black me-4">Tax(5%):</span> $57.50</li>
                        </ul>
                        <p class="text-black float-start" id="invoice_total_amount"><span class="text-black me-3"> Total
                            Amount</span><span style="font-size: 25px;"> $1207.50</span></p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Edit Invoice -->

  <div class="modal fade" id="edit-invoice-modal" tabindex="-1" role="dialog" aria-labelledby="edit-invoice-modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="animal-modal"><i class="fas fa-paw"></i> Edit Invoice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <body>
            <form id="modal-form" method="post" action="PATH TO INVOICE">
              <label for="name" id="invoice_id">Invoice ID:</label>
              <input class="form-control invoice_id" id="formControlReadonly" type="text" value="Invoice ID Here"
                aria-label="readonly input" readonly />
              <label for="status" id="invoice_status">Status:</label>
              <select name="status" id="status">
                <option value="Unpaid">Unpaid</option>
                <option value="Paid">Paid</option>
                <option value="Void">Void</option>
              </select>
              <label for="sold_date">Date:</label>
              <input class="form-control invoice_date" id="formControlReadonly" type="text" value="YYYY-MM_DD"
                aria-label="readonly input" readonly />
              <hr>
              <label for="customer">Customer:</label>
              <input class="form-control invoice_customer" id="formControlReadonly" type="text" value="Customer Name"
                aria-label="readonly input" readonly />
              <label for="city">City:</label>
              <input class="form-control invoice_street" id="formControlReadonly" type="text" value="Street"
                aria-label="readonly input" readonly />
              <input class="form-control invoice_city" id="formControlReadonly" type="text" value="City Name"
                aria-label="readonly input" readonly />
              <label for="province">Province</label>
              <input class="form-control invoice_province" id="formControlReadonly" type="text" value="Province Name"
                aria-label="readonly input" readonly />
              <label for="sold_date">Postal Code:</label>
              <input class="form-control invoice_postal_code" id="formControlReadonly" type="text" value="Postal Code"
                aria-label="readonly input" readonly />
              <label for="name" id="price">Sub Total ($):</label>
              <input class="form-control invoice_price" id="formControlReadonly" type="text" value="Price Here"
                aria-label="readonly input example" readonly />
              <button type type="submit" class="btn btn-success">Submit</button>
            </form>

        </div>
      </div>
    </div>
  </div>

  <!-- create summary button -->
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#create-summary-modal" id="create-summary-button">
    <i class="fas fa-paw"></i>
    Create Summary
  </button>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>