<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="../static/scripts/script.js"></script> -->
    <script defer src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <title>Invoice</title>
</head>
<body>
    <!-- Brand Name -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <div class="btn-group btn-group-lg" role="group" aria-label="UI Title Buttons">
          <a href="http://127.0.0.1:5000/" class="btn btn-outline-dark">Animals</a>
          <a href="http://127.0.0.1:5000/invoice" class="btn btn-dark">Invoices</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <!-- BUTTONS IN NAV BAR -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" id="index-search-button">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
            
            <button type="button" class="btn btn-outline-primary" id="index-filter-button" data-toggle="modal" data-target="#filter-modal">
                <i class="fas fa-filter"></i>
            </button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#create-invoice-modal" id="nav-create-button">
                <i class="fas fa-paw"></i>
                Create Invoice
              </button>
          </form>
        </div>
      </nav>
      
      <!-- DATA TABLE  -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Invoice No.</th>
            <th scope="col">Customer</th>
            <!-- <th scope="col">Address</th> -->
            <th scope="col">City</th>
            <th scope="col">Province</th>
            <!-- <th scope="col">Postal Code</th> -->
            <!-- <th scope="col">Price($)</th> -->
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Total ($):</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in invoices %}
          <tr>

              <th class="animalID" scope="row">{{ invoice.id }}</th>
              <td>{{ invoice.name }}</td>
              <td>{{ invoice.city }}</td>
              <td>{{ invoice.province }}</td>
              <td>{{ invoice.date }}</td>
              <td>{{ invoice.status }}</td>
              <td>{{ invoice.price }}</td>
              <td>
                <button onclick="renderModal(this)" type="button" class="btn btn-primary" id="index-action-button" data-toggle="modal" data-target="#view-invoice-modal"><i class="far fa-eye"></i></button>
                <button onclick="renderModal(this)" type="button" class="btn btn-success btn-edit" id="index-action-button" data-toggle="modal" data-target="#edit-invoice-modal"><i class="fas fa-edit"></i></button>
                <button" type="button" class="btn btn-danger" id="index-action-button"><i class="far fa-trash-alt" data-toggle="modal" data-target="#delete_modal"></i></button>
              </td>
          </tr>
          {% endfor %}
   
        </tbody>
      </table>

 <!--  Filter MODAL -->

 <div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="filter-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filter-modal">Filter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <body>
            <form action="#" method="POST" id="modal-form">
        
                <label for="Invoice_ID"><b>Invoice ID:</b></label>
                <input type="number" id="Invoice_ID" name="Invoice_ID"><br>

                <label for="species"><b>Customer Name:</b></label>
                <input type="text" id="Customer Name" name="Customer Name"><br>
        
                <label for="invoice_country"><b>Country:</b></label>
                <input type="text" id="invoice_country" name="Invoice Country"><br>

                <label for="invoice_city"><b>City:</b></label>
                <input type="text" id="invoice_city" name="invoice_city"><br>

                <label for="postal_code"><b>Postal Code:</b></label>
                <input type="text" id="postal_code" name="postal_code"><br>
  
                <label for="status"><b>Status: </b></label>
                <select id="status" name="status">
                  <option value="">--Select--</option>
                  <option value="">Unpaid</option>
                  <option value="sold">Paid</option>
                  <option value="sold">Void</option>
                </select><br>

                <br>
  
                <button type type="submit" class="btn btn-success">Submit</button>

              </form>
        </div>
      </div>
    </div>
  </div>


 <!--  Create Invoice MODAL -->

 <div class="modal fade" id="create-invoice-modal" tabindex="-1" role="dialog" aria-labelledby="create-invoice-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="animal-modal"> Create Invoice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <body>
              <form id="modal-form" method="post" action="PATH TO INVOICE" >
                <label for="name" id="invoice_id">Invoice ID:</label>
                <input class="form-control"  type="text">
                <label for="status">Status:</label>
                <select name="status" id="status">
                    <option value="Unpaid">Unpaid</option>
                    <option value="Paid">Paid</option>
                    <option value="Void">Void</option>
                </select>
                <label for="sold_date">Date:</label>
                <input type="date" id="sold_date" name="sold_date" value = "ADD YOUR VARIABLE HERE">
                <label for="customer"><b>Customer Info:</b></label>
                <hr>
                <label for="customer">Customer Name:</label>
                <input type="text" id="customer"required ><br>
              <label for="city">City:</label>
                <input type="text" id="city"><br>
                <label for="province">Province</label>
                <select name="province" id="province">
                  <option value="AB">Alberta</option>
                  <option value="BC">British Columbia</option>
                  <option value="MB">Manitoba</option>
                  <option value="NB">New Brunswick</option>
                  <option value="NL">Newfoundland and Labrador</option>
                  <option value="NS">Nova Scotia</option>
                  <option value="NT">Northwest Territories</option>
                  <option value="NU">Nunavut</option>
                  <option value="ON">Ontario</option>
                  <option value="PE">Prince Edward Island</option>
                  <option value="QC">Quebec</option>
                  <option value="SK">Saskatchewan</option>
                  <option value="YT">Yukon</option>
              </select>
              <label for="sold_date">Postal Code:</label>
                <input type="text" id="postal_code">
                <label for="phone">Phone number:</label>
                <input type="tel" id="phone" name="phone" placeholder="604-123-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br><br>
                <hr>
                <label for="animal-sold"><b>Animal:</b> </label>
                <hr>
                <div class="row">
                    <div class="create_invoice_animal">
                    <label for="name">Animal ID:</label>
                      <input name="animal_id" type="text">
                      <label for="name">Animal Name:</label>
                      <input name="animal_name" type="text">
                      <label for="name">Price:</label>
                      <input name="price" type="text">
                      <a class="extra_animal_field" href="#">Add More Animal</a>
                    </div>
                    <div class="add_invoice_animal"></div>
                  </div>
                  <hr>
                

                <label for="notes">Additional Notes:</label>
                <textarea id="notes" name="notes"></textarea><br>
            
                <button type type="submit" class="btn btn-success">Submit</button>
              </form>
  
          </div>
      </div>
    </div>
  </div>

          <!-- Invoice Modal -->

          <div class="modal fade" id="view-invoice-modal" tabindex="-1" role="dialog" aria-labelledby="view-invoice-modal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <body>

<div class="card">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
        <div class="col-xl-9">
          <p id="invoice_number">Invoice >> <strong>[Invoice No. Holder]</strong></p>
        </div>
        <div class="col-xl-3 float-end">
          <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i
              class="fas fa-print text-primary"></i> Print</a>
          <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark"><i
              class="far fa-file-pdf text-danger"></i> Export</a>
        </div>
        <hr>
      </div>

      <div class="container">
        <div class="col-md-12">
          <div class="text-center">
            <i class="fas fa-paw fa-4x ms-0" id="invoice_icon"></i>
            <ul class="list-unstyled">
                <li>Trap'd Animals</li>
                <li>1234 Fake Street, Vancouver</li>
                <li>British Columbia, Canada</li>
                <li>V5E 1B5</li>
                <li>604-111-2222</li>
            </ul>
          </div>

        </div>


        <div class="row">
          <div class="col-xl-8">
            <ul class="list-unstyled">
              <li class="text-muted">To: <span id="invoice_customer">Herman Luo</span></li>
              <li class="text-muted">111 Hastings, Vancouver</li>
              <li class="text-muted">British Columbia, Canada</li>
              <li class="text-muted">V3G 1E9</li>
              <li class="text-muted"><i class="fas fa-phone"></i> 778 - 777 - 1128</li>
            </ul>
          </div>
          <div class="col-xl-4">
            <p class="text-muted">Invoice</p>
            <ul class="list-unstyled">
              <li class="text-muted"><i class="fas fa-circle" id="invoice_list"></i> <span
                  class="fw-bold">ID:</span>#1-0001</li>
              <li class="text-muted"><i class="fas fa-circle" id="invoice_list"></i> <span
                  class="fw-bold">Date: </span>May 05,2023</li>
              <li class="text-muted"><i class="fas fa-circle" id="invoice_list"></i> <span
                  class="me-1 fw-bold" id="invoice-status">Status:</span>
                  <span class="badge text-black fw-bold" id="invoice_status">Paid</span></li>
            </ul>
          </div>
        </div>

        <div class="row justify-content-center">
          <table class="table table-striped table-borderless">
            <thead id="invoice_table" class="text-white">
              <tr>
                <th scope="col">Animal ID</th>
                <th scope="col">Name</th>
                <th scope="col">Species</th>
                <th scope="col">Price($)</th>
              </tr>
            </thead>
            <tbody>
<!------------------------------------TEMPORARY (ONLY FOR DEMONSTRATION)-------------------------------------------------------->
            {% for invoice in invoices %}
              {% for animal in invoice.animals %}
              <tr>
                <td>{{ animal.animal_id }}</td>
                <td>{{ animal.animal_name }}</td>
                <td>{{ animal.animal_species }}</td>
                <td>${{ animal.animal_price }}</td>
              </tr>
              {% endfor %}
            {% endfor %}
<!------------------------------------TEMPORARY (ONLY FOR DEMONSTRATION)-------------------------------------------------------->
            </tbody>

          </table>
        </div>
        <div class="row">
          <div class="col-xl-8">
            <p class="ms-3">Add additional notes and payment information</p>

          </div>
          <div class="col-xl-3">
            <ul class="list-unstyled">
              <li class="text-muted ms-3"><span class="text-black me-4">SubTotal</span>$250.00</li>
              <li class="text-muted ms-3 mt-2"><span class="text-black me-4">Tax(7%)</span>$17.50</li>
            </ul>
            <p class="text-black float-start"><span class="text-black me-3"> Total Amount</span><span
                style="font-size: 25px;"> $267.50</span></p>
          </div>
        </div>
 
      </div>
    </div>
  </div>
</div>
                </div>
              </div>
            </div>
          </div>
      

          <!-- Edit Invoice -->

          <div class="modal fade" id="edit-invoice-modal" tabindex="-1" role="dialog" aria-labelledby="edit-invoice-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="animal-modal"><i class="fas fa-paw"></i> Edit Invoice</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <body>
                    <form id="modal-form" method="post" action="PATH TO INVOICE" >
                      <label for="name" id="invoice_id">Invoice ID:</label>
                      <input class="form-control" id="formControlReadonly" type="text" value="Invoice ID Here" aria-label="readonly input example" readonly/>
                    <label for="status" id="invoice_status">Status:</label>
                    <select name="status" id="status">
                        <option value="Unpaid">Unpaid</option>
                        <option value="Paid">Paid</option>
                        <option value="Void">Void</option>
                    </select>
                    <label for="sold_date">Date:</label>
                      <input type="date" id="sold_date" name="sold_date" value = "ADD YOUR VARIABLE HERE">
                      <label for="customer"><b>Customer Info:</b></label>
                    <hr>
                      <label for="customer">Customer:</label>
                      <input type="text" id="customer" value = "ADD YOUR VARIABLE HERE" required ><br>
                    <label for="city">City:</label>
                      <input type="text" id="city" name="" value = "ADD YOUR VARIABLE HERE" ><br>
                      <label for="province">Province</label>
                      <select name="province" id="province">
                        <option value="AB">Alberta</option>
                        <option value="BC">British Columbia</option>
                        <option value="MB">Manitoba</option>
                        <option value="NB">New Brunswick</option>
                        <option value="NL">Newfoundland and Labrador</option>
                        <option value="NS">Nova Scotia</option>
                        <option value="NT">Northwest Territories</option>
                        <option value="NU">Nunavut</option>
                        <option value="ON">Ontario</option>
                        <option value="PE">Prince Edward Island</option>
                        <option value="QC">Quebec</option>
                        <option value="SK">Saskatchewan</option>
                        <option value="YT">Yukon</option>
                    </select>
                    <label for="sold_date">Postal Code:</label>
                      <input type="text" id="postal_code" value = "ADD YOUR VARIABLE HERE">
                    <label for="name" id="price">Total ($):</label>
                    <input class="form-control" id="formControlReadonly" type="text" value="Price Here" aria-label="readonly input example" readonly/>

                      <label for="notes">Additional Notes:</label>
                      <textarea id="notes" name="notes"></textarea><br>
                  
                      <button type type="submit" class="btn btn-success">Submit</button>
                    </form>
                        
                </div>
              </div>
            </div>
          </div>

          <!-- Delete Modal -->
          <div id="delete_modal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header flex-column">
                        <div class="icon-box">
                            <i class="fas fa-exclamation"></i>
                        </div>
                        <h4 class="modal-title w-100">Are you Sure?</h4>
                        <button type=""button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete [Insert Invoice ID]? This process cannot be undone</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
          </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>